@model AdminPanelViewModel

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .table-container {
        max-width: 800px;
        margin: 50px auto 10px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #343a40;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #dee2e6;
    }

    th {
        background-color: #f8f9fa;
        color: #343a40;
    }

    tbody tr:hover {
        background-color: #f8f9fa;
    }

    .btn-group {
        text-align: center;
    }

    .btn {
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-size: 14px;
        transition: box-shadow 0.3s ease;
    }

    .btn-success {
        background-color: #8cb742;
        color: #fff;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }

    .btn-danger {
        background-color: #d54a4a;
        color: #fff;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }

    .btn-warning {
        background-color: #ecec53;
        color: #fff;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }

    .btn-warning:hover {
            background-color: #cbcf00;
            color: #fff;
    }

    .btn-group .btn {
        margin-right: 5px;
    }

    .btn-primary {
        display: inline-block;
        margin-left: 20%;
        background-color: #0088ff;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }

        .btn-primary:hover {
            background-color: #00008b;
        }

    .btn-export {
        display: inline-block;
        margin-left: 20%;
        margin-bottom: 50px;
        background-color: #0088ff;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }

        .btn-primary:hover {
            background-color: #00008b;
        }

    h1 img {
        margin-left: 15px;
        width: 50px;
    }
</style>

<body>
    <div id="articles" class="table-container">
        <h1>Articles<img src="https://www.pngall.com/wp-content/uploads/4/Website-PNG-HD-Image.png" alt="Users Icon" /></h1>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Stars</th>
                        <th>Private</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ArticleModel article in Model.Articles)
                    {
                        <tr>
                            <td>@article.ArticleId</td>
                            <td>@article.Title</td>
                            <td>@article.Category</td>
                            <td>
                                @{
                                    if (article.Stars == null)
                                    {
                                        @: 0
                                    }
                                    else
                                    {
                                        @article.Stars
                                    }
                                }
                            </td>
                            <td>@article.isPrivate</td>
                            <td>
                                @if (article.isDisabled == true)
                                {
                                    <form asp-controller="AdminPanel" asp-action="EnableArticle" method="post">
                                        <input type="hidden" name="id" value="@article.ArticleId" />
                                            <div class="btn-group" role="group">
                                            <button type="submit" class="btn btn-success">Enable</button>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <form asp-controller="AdminPanel" asp-action="DisableArticle" method="post">
                                        <input type="hidden" name="id" value="@article.ArticleId" />
                                        <div class="btn-group" role="group">
                                            <button type="submit" class="btn btn-danger">Disable</button>
                                            <a role="button" href="@Url.Action("Details", "Article", new { id = article.ArticleId })" class="btn btn-primary" >Show</a>
                                            <a role="button" href="@Url.Action("EditArticle", "AdminPanel", new { id = article.ArticleId })" class="btn btn-warning">Edit</a>
                                        </div>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a href="@Url.Action("ExportArticlesToCSV", "AdminPanel")" class="btn btn-export">Export Data</a>
</body>