@model AdminPanelViewModel

@{
    ViewData["Title"] = "Admin Panel";
}

<style>
    #fixed-sidebar{
        width: 200px; 
        position: fixed; 
        height: 145px; 
        left: 0; 
        z-index: 1; 
        overflow-y: auto; 
        transition: width 0.3s; 
        top: 40%;
        background-color: #f2f2f2;
    }

    #content {
        margin-left: 250px; 
        padding: 15px; 
    }

    #fixed-sidebar .nav-link {
        background-color: #f2f2f2; 
        display: block;
        padding: 10px;
        margin: 5px 0;
        margin-bottom: -5px;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        color: black;
        transition: background-color 0.3s;
    }

        #fixed-sidebar .nav-link:hover {
            background-color: #d3d3d3; 
            color: white; 
        }
</style>



<div class="container-fluid">
    <div class="row">
        <!-- Side Bar -->
        <nav id="fixed-sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#pending-users">
                            Pending Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#all-users">
                            All Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#articles">
                            Articles
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="content">
            <!-- Tabela de Users Pendentes -->
            <div id="pending-users" class="table-container" >
                <h1>Pending Users</h1>
                <br />
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center;">#</th>
                            <th scope="col" style="text-align: center;">Name</th>
                            <th scope="col" style="text-align: center;">UserName</th>
                            <th scope="col" style="text-align: center;">Email</th>
                            <th scope="col" style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserModel user in Model.Users.Where(u => u.Role == "Public"))
                        {
                            <tr>
                                <td style="text-align: center;">@user.UserId</td>
                                <td style="text-align: center;">@user.Name</td>
                                <td style="text-align: center;">@user.Username</td>
                                <td style="text-align: center;">@user.Email</td>
                                <td style="text-align: center;">
                                    <div class="btn-group" role="group">
                                        <form asp-controller="AdminPanel" asp-action="SetAsPrivileged" method="post">
                                            <input type="hidden" name="id" value="@user.UserId" />
                                            <button type="submit" class="btn btn-success rounded-pill" style="margin-right: 5px;">Accept</button>
                                        </form>
                                        <form asp-controller="AdminPanel" asp-action="DisableUser" method="post">
                                            <input type="hidden" name="id" value="@user.UserId" />
                                            <button type="submit" class="btn btn-danger rounded-pill">Disable</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Tabela  Users -->
            <div id="all-users" class="table-container" style="display: none;">
                <h1>Users</h1>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">#</th>
                            <th style="text-align: center;">Username</th>
                            <th style="text-align: center;">Email</th>
                            <th style="text-align: center;">Role</th>
                            <th style="text-align: center;">CreatedAt</th>
                            <th style="text-align: center;">UpdatedAt</th>
                            <th style="text-align: center;">DeletedAt</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserModel user in Model.Users.Where(u => u.Role == "Privileged" || u.Role == "Administrator" || u.Role == "Disabled"))
                        {
                            <tr>
                                <td style="text-align: center;">@user.UserId</td>
                                <td style="text-align: center;">@user.Username</td>
                                <td style="text-align: center;">@user.Email</td>
                                <td style="text-align: center;">@user.Role</td>
                                <td style="text-align: center;">@user.CreatedAt</td>
                                <td style="text-align: center;">@user.UpdatedAt</td>
                                <td style="text-align: center;">
                                    @{
                                        if (user.DeletedAt == null)
                                        {
                                            @: 01/01/0001 00:00:00
                                        }
                                        else
                                        {
                                            @user.DeletedAt
                                        }
                                    }
                                </td>
                                <td style="text-align: center;">
                                    @if (user.Role == "Disabled")
                                    {
                                        <form asp-controller="AdminPanel" asp-action="EnableUser" method="post">
                                            <input type="hidden" name="id" value="@user.UserId" />
                                            <button type="submit" class="btn btn-primary">Enable</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <div class="btn-group" role="group" style="display: flex;">
                                            <form asp-controller="AdminPanel" asp-action="DisableUser" method="post">
                                                <input type="hidden" name="id" value="@user.UserId" />
                                                <button type="submit" class="btn btn-danger rounded-pill" style="margin-right: 5px;">Disable</button>
                                            </form>
                                            <a role="button" class="btn btn-warning btn-sm rounded-pill" style="margin-right: 5px;" asp-route-id="@user.UserId" asp-controller="AdminPanel" asp-action="Edit">Edit</a>
                                            <form asp-controller="AdminPanel" asp-action="SetAsPublicUser" method="post" style="display: inline-block;">
                                                <input type="hidden" name="id" value = "@user.UserId" />
                                                <button type="submit" class="btn btn-primary rounded-pill" style="margin-right: 5px;">Public</button>
                                            </form>
                                            <form asp-controller="AdminPanel" asp-action="SetAsPrivileged" method="post" style="display: inline-block;">
                                                <input type="hidden" name="id" value="@user.UserId" />
                                                <button type="submit" class="btn btn-primary rounded-pill" style="margin-right: 5px;" @if (user.Role == "Privileged")
                                                {
                                                    <text>disabled</text>
                                                }>Privileged</button>
                                            </form>
                                            <form asp-controller="AdminPanel" asp-action="SetAsAdministrator" method="post" style="display: inline-block;">
                                                <input type="hidden" name="id" value="@user.UserId" />
                                                <button type="submit" class="btn btn-primary rounded-pill" @if (user.Role == "Administrator")
                                                {
                                                    <text>disabled</text>
                                                }>Administrator</button>
                                            </form>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Tabela Articles -->
            <div id="articles" class="table-container" style="display: none;">
                <h1>Articles</h1>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">#</th>
                            <th style="text-align: center;">Title</th>
                            <th style="text-align: center;">Category</th>
                            <th style="text-align: center;">Stars</th>
                            <th style="text-align: center;">Private</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ArticleModel article in Model.Articles)
                        {
                            <tr>
                                <td style="text-align: center;">@article.ArticleId</td>
                                <td style="text-align: center;">@article.Title</td>
                                <td style="text-align: center;">@article.Category</td>
                                <td style="text-align: center;">
                                    @{
                                        if (article.Stars == null)
                                        {
                                            @: 0
                                        }
                                        else
                                        {
                                            @article.Stars
                                        }
                                    }
                                </td>
                                <td style="text-align: center;">@article.isPrivate</td>
                                <td style="text-align: center;">
                                    @if (article.isDisabled == true)
                                    {
                                        <form asp-controller="AdminPanel" asp-action="EnableArticle" method="post">
                                            <input type="hidden" name="id" value="@article.ArticleId" />
                                            <div class="btn-group" role="group">
                                                <button type="submit" class="btn btn-success rounded-pill">Enable</button>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="AdminPanel" asp-action="DisableArticle" method="post">
                                            <input type="hidden" name="id" value="@article.ArticleId" />
                                            <div class="btn-group" role="group">
                                                <button type="submit" class="btn btn-danger rounded-pill" style="margin-right: 5px;">Disable</button>
                                                <a role="button" href="@Url.Action("Details", "Article", new { id = article.ArticleId })" class="btn btn-primary rounded-pill" style="margin-right: 5px;">Show</a>
                                                <a role="button" href="@Url.Action("EditArticle", "AdminPanel", new { id = article.ArticleId })" class="btn btn-primary btn-sm rounded-pill" style="margin-right: 5px;">Edit</a>
                                            </div>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <button role="button" class="btn btn-secondary btn-sm float-right">New User</button>
            <button role="button" class="btn btn-secondary btn-sm float-right">Export Data</button>
        </main>
    </div>
</div>


<script>
    document.querySelectorAll(".nav-link").forEach(function (link) {
        link.addEventListener("click", function () {
            var target = link.getAttribute("href").substring(1); 
            showTable(target);
        });
    });

    function showTable(tableId) {
        var tables = document.querySelectorAll(".table-container");
        tables.forEach(function (table) {
            if (table.id === tableId) {
                table.style.display = "block";
            } else {
                table.style.display = "none";
            }
        });
    }

</script>
