@model AdminPanelViewModel

@{
    ViewData["Title"] = "Admin Panel";
}

<style>
    #fixed-sidebar {
        width: 250px; 
        position: fixed; 
        height: 100%; 
        left: 0; 
        z-index: 1; 
        overflow-y: auto; 
        transition: width 0.3s; 
    }

    #content {
        margin-left: 250px; 
        padding: 15px; 
    }
</style>



<div class="container-fluid">
    <div class="row">
        <!-- Side Bar -->
        <nav id="fixed-sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#pending-users">
                            End Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#all-users">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#articles">
                            Articles
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="content">
            <!-- Tabela de Users Pendentes -->
            <div id="pending-users" class="table-container" >
                <h1>End Users</h1>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserModel user in Model.Users.Where(u => u.Role == "EndUser"))
                        {
                            <tr>
                                <td>@user.UserId</td>
                                <td>@user.Name</td>
                                <td>@user.Username</td>
                                <td>@user.Email</td>
                                <td>
                                    <form asp-controller="AdminPanel" asp-action="SetAsPrivileged" method="post">
                                        <input type="hidden" name="id" value="@user.UserId" />
                                        <button type="submit" class="btn btn-success">Accept</button>
                                    </form>
                                    <form asp-controller="AdminPanel" asp-action="DisableUser" method="post">
                                        <input type="hidden" name="id" value="@user.UserId" />
                                        <button type="submit" class="btn btn-danger">Disable</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Tabela  Users -->
            <div id="all-users" class="table-container" style="display: none;">
                <h1>Users</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>
                            <th>DeletedAt</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserModel user in Model.Users.Where(u => u.Role == "Privileged" || u.Role == "Administrator" || u.Role == "Disabled"))
                        {
                            <tr>
                                <td>@user.UserId</td>
                                <td>@user.Name</td>
                                <td>@user.Username</td>
                                <td>@user.Email</td>
                                <td>@user.Role</td>
                                <td>@user.CreatedAt</td>
                                <td>@user.UpdatedAt</td>
                                <td>
                                    @{
                                        if (user.DeletedAt == null)
                                        {
                                            @: 01/01/0001 00:00:00
                                        }
                                        else
                                        {
                                            @user.DeletedAt
                                        }
                                    }
                                </td>
                                <td>
                                    @if (user.Role == "Disabled")
                                    {
                                        <form asp-controller="AdminPanel" asp-action="EnableUser" method="post">
                                            <input type="hidden" name="id" value="@user.UserId" />
                                            <button type="submit" class="btn btn-primary">Enable</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="AdminPanel" asp-action="DisableUser" method="post">
                                            <input type="hidden" name="id" value="@user.UserId" />
                                            <button type="submit" class="btn btn-danger">Disable</button>
                                        </form>

                                        <a role="button" class="btn btn-secondary btn-sm" asp-route-id="@user.UserId" asp-controller="AdminPanel" asp-action="Edit">Edit</a>

                                        <form asp-controller="AdminPanel" asp-action="SetAsEndUser" method="post" style="display: inline-block;">
                                            <input type="hidden" name="id" value="@user.UserId" />
                                            <button type="submit" class="btn btn-secondary">Set as EndUser</button>
                                        </form>

                                        <form asp-controller="AdminPanel" asp-action="SetAsPrivileged" method="post" style="display: inline-block;">
                                            <input type="hidden" name="id" value="@user.UserId" />
                                            <button type="submit" class="btn btn-secondary" @if (user.Role == "Privileged")
                                            {
                                                <text>disabled</text>
                                            }>Set as Privileged</button>
                                        </form>

                                        <form asp-controller="AdminPanel" asp-action="SetAsAdministrator" method="post" style="display: inline-block;">
                                            <input type="hidden" name="id" value="@user.UserId" />
                                            <button type="submit" class="btn btn-secondary" @if (user.Role == "Administrator")
                                            {
                                                <text>disabled</text>
                                            }>Set as Administrator</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Tabela  Articles -->
            <div id="articles" class="table-container" style="display: none;">
                <h1>Articles</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Stars</th>
                            <th>UserId</th>
                            <th>Private</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ArticleModel article in Model.Articles)
                        {
                            <tr>
                                <td>@article.ArticleId</td>
                                <td>@article.Title</td>
                                <td>@article.Category</td>
                                <td>
                                    @{
                                        if (article.Stars == null)
                                        {
                                            @: 0
                                        }
                                        else
                                        {
                                            @article.Stars
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (article.UserId == null)
                                        {
                                            @: Unknown
                                        }
                                        else
                                        {
                                            @article.Stars
                                        }
                                    }
                                </td>
                                <td>@article.isPrivate</td>
                                <td>
                                    <a role="button" class="btn btn-secondary btn-sm" asp-route-id="@article.ArticleId" asp-controller="Article" asp-action="">Show</a>
                                    <a role="button" class="btn btn-secondary btn-sm" asp-route-id="@article.ArticleId" asp-controller="Article" asp-action="">Edit</a>
                                    <a role="button" class="btn btn-secondary btn-sm" asp-route-id="@article.ArticleId" asp-controller="Article" asp-action="">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<button role="button" class="btn btn-secondary btn-sm">Export Data</button>

<script>
    document.querySelectorAll(".nav-link").forEach(function (link) {
        link.addEventListener("click", function () {
            var target = link.getAttribute("href").substring(1); 
            showTable(target);
        });
    });

    function showTable(tableId) {
        var tables = document.querySelectorAll(".table-container");
        tables.forEach(function (table) {
            if (table.id === tableId) {
                table.style.display = "block";
            } else {
                table.style.display = "none";
            }
        });
    }

    //document.querySelectorAll(".reject-button").forEach(function (button) {
    //    button.addEventListener("click", function () {
    //        var userId = button.getAttribute("data-id");
    //        var confirmation = confirm("Do you really want to delete this user?");
    //        if (confirmation) {
    //            fetch("/AdminPanel/Delete/" + userId, {
    //                method: "POST",
    //            })
    //                .then(function (response) {
    //                    if (response.ok) {
    //                        var tableRow = button.closest("tr");
    //                        tableRow.style.display = "none"; 
    //                    } else {
    //                        console.log("Error deleting user.");
    //                    }
    //                })
    //                .catch(function (error) {
    //                    console.error("Error processing request:", error);
    //                });
    //        }
    //    });
    //});
</script>
